button,
.button {
  width: auto;
  padding: 5px 8px;
  margin-left: 10px;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  color: white;
  cursor: pointer;
  background: $light-teal;
  border: 0;
  border-bottom: 2px solid $dark-blue;
  border-radius: 2px;

  &.first {
    min-width: 80px;
    background: $purple;
    border-bottom: 2px solid $light-purple;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.65;
  }

  &.delete-button {
    background: $danger;
    border-color: darken($danger, 15%);
  }
}

.menu-controls button:hover,
header button:hover {
  position: relative;
  top: 2px;
  margin-bottom: 2px;
  border-bottom: 0;
}

.ngdialog-content button {
  display: inline-block;
  height: 28px;
  font-size: 1em;
  vertical-align: top;
}

.ngdialog-content a {
  display: inline-block;
  margin-top: 1.7em;
  margin-left: 10px;
  font-size: 1em;
  color: $light-teal;
}

.ngdialog-content a.inline-link {
  margin: 0;
}

.ngdialog-content button:hover,
.editing-column button:hover {
  position: relative;
  top: 1px;
  border-bottom: 0;
}

.message-action {
  position: absolute;
  border: 0;
  background: transparent;
  padding: 0;
  line-height: 2em;
  font-size: 0.7em;

  &.-delete, &.-edit {
    right: 10px;
    font-size: 1em;
  }

  &.-delete {
    bottom: 10px;
    color: $danger;

    &:hover {
      color: darken($danger, 15%);
    }
  }

  &.-edit {
    top: 10px;
  }

  &.-done {
    bottom: 14px;
    left: 14px;
    width: 43px;
    height: 20px;
    padding: 0;
    margin-left: 0;
    background: $green;

    &:hover {
      bottom: 13px;
      border-bottom: 0;
    }
  }
}

.success-button,
.message-action.-done {
  border-bottom: 2px solid $light-green;
}
