#timer{
  background-color: #df3e3e;
  color: white;
  border-radius: 10px;
  padding:4px;
  margin-left:9px
}
#timerContainer{
  background-color: rgba(10,10,10,.18);
  border-radius: 2px;
  padding:3px;
}
#timerValue{
  width: 80px;
}
